#splash {
  background: url('img/back.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
  margin-top: -1.4em;

}
#contact {
	background: rgba(144,144,144,0.3);
	background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	 -webkit-background-size: cover;
 	 height: 40%;
 	 margin-top: -1.5em;
}

#slice {
	background: url('img/slice.jpeg') no-repeat 50% 50% fixed; 
	background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: 40%;
    margin-top: -1.5em;

}

#main {
  background: url('img/main.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
  margin-top: -1.5em;
}
#third {
  background: url('img/second.jpeg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
  margin-top: -1.5em;
}
#fourth {
  background: url('img/third.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
  margin-top: -1.5em;
}
#subtitle {
	font-size: 0.2em;
	color: white;
	opacity: 0.5;
}
#splashButtons ul{
	position: absolute;
	bottom: 3em;
	font-size: 2em;
	list-style-type: none;
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#splashButtons ul li {
	display: inline;
	border: 4px solid white;
	font-family: 'Montserrat', sans-serif;
	padding: .6em 0.1em;
	margin: 0.6em;
	opacity: 1.0;
	border-radius: 2px;
	transition: opacity 0.2s ease-in;
	-webkit-transition: opacity 0.2s ease-in;
	-moz-transition: opacity 0.2s ease-in; 

}
#splashButtons ul li:hover {
	opacity: 1.0;
}
#splashButtons {
	margin-left: auto;

}
#splashButtons ul li a{
	text-decoration: none;
	padding: .2em 0.3em;
	color: white;
	letter-spacing: 4px;

}
#splashMainText {
	width: 30%;


}
#mainTitle {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 6.0em;
	text-align: center;
	position: relative;
	top: 1em;
	text-align: left;
	margin-left: 1em;
	line-height: 0.9em;
}

#stanford {
	color: white;
	font-size: 4em;
	text-align: center;
	position: relative;
	top: 2em;
}

#experience {
	color: white;
	font-size: 3em;
	text-align: center;
	position: relative;
	top: 2em;
}

#network {
	color: white;
	font-size: 3em;
	text-align: center;
	position: relative;
	top: 2em;
}

h2,h3 {
	color:white;
	text-align: center;
	font-size: 4em;
	position: relative;
	top: 1em;
}

h4 {
	color:white;
	text-align: center;
	font-size: 1.5em;
	position: relative;
	top: 170px;
}

p{
	color:white;
	position:relative;
	top: 170px;
	text-align: center;
	font-size: 1.5em;
}


@media only screen and (max-width: 560px) {
   #mainTitle { font-size: 4em; }
   #splashButtons ul { 
   	font-size: 1.6em; 
   	
   }
   #splashButtons ul li{ 
   	margin: 0em;
   	
   }

}