#splash {
  background: url('img/back.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
}
#contact {
	background: rgba(144,144,144,0.3);
	background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	 -webkit-background-size: cover;
 	 height: 40%;
 	 margin-top: -1.5em;
}
.navbar-default .navbar-nav>li>a:hover{
	color: rgba(144,144,144,0.6);
}
#slice {
	background: url('img/slice.jpeg') no-repeat 50% 50% fixed; 
	background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: 40%;
    margin-top: -1.5em;

}

#main {
  /*background: url('img/main.jpg') no-repeat 50% 50% fixed; */
  background:black;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
  margin-top: -1.5em;
}
#third {
  background: url('img/second.jpg') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
  margin-top: -1.5em;
}
#fourth {
  background: url('img/third.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
  margin-top: -1.5em;
}
#subtitle {
	font-size: 0.2em;
	color: white;
	opacity: 0.5;
}
#splashButtons ul{
	position: absolute;
	bottom: 3em;
	font-size: 2em;
	list-style-type: none;
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 0;
}

#splashButtons ul li {
	display: inline-block;
	border: 4px solid white;
	font-family: 'Montserrat', sans-serif;
	padding: 0.5em 1em;
	background: rgba(255,255,255,0.15);
	opacity: 1.0;
	border-radius: 2px;
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in; 
	font-family: 'Montserrat' sans-serif;

}
#splashButtons ul li:hover {
	-webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      text-shadow: 1px 0px 20px yellow;
}
#splashButtons {
	margin-left: auto;

}
#splashButtons ul li a{
	text-decoration: none;
	padding: .2em 0.3em;
	color: white;
	letter-spacing: 4px;

}
ul>li>a.active {
	border-bottom: white 1px solid;
}
#splashMainText {
	position: absolute;
	top: 18.0em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;

}



#splashMainTeamText {
	position: absolute;
	top: 6.0em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;

}
#mainTitle, #stanford, #experience, #network{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: white;
	font-size: 4.5em;
	
	opacity: 1.0;
	
	line-height: 0.9em;
	

}
#suni {
	position: absolute;
	top: 6.0em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
	color: white;
	font-size: 1.5em;
	font-family: 'Crimson Text', serif;
	letter-spacing: 5px;
}
#team-sub {
	position: absolute;
	top: 8.0em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
	color: white;
	font-size: 1.5em;
	letter-spacing: 5px;
}
#date {
	position: absolute;
	top: 22.0em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
	color: white;
	font-size: 1.5em;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 5px;
}
#pres {
	position: absolute;
	top: 8.0em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
	color: white;
	font-size: 1.5em;
	font-style: italic;
	font-family: 'Georgia', Serif;
	letter-spacing: 5px;
}

#tagline {
	position: absolute;
	top: 12.0em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
	color: white;
	font-size: 2.2em;
	font-family: 'Montserrat', Serif;
}

#stanford-subtitle, #experience-subtitle{
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 2.0em;
	opacity: 1.0;
	position: relative;
	top: 4.0em;
	text-align: left;
	margin-left: 3.1em;
	line-height: 1.4em;
}

#stanford-paragraph, #experience-paragraph{
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 2.0em;
	position: relative;
	opacity: 1.0;
	top: 4.5em;
	text-align: left;
	margin-left: 3.1em;
	line-height: 1.4em;
}


#teamSplash {
  background: url('img/teamSplash.jpg');
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
}
#teamMain {
  background:black;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
}
.bio{
	width: 19.7%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 0 20px;
	color: white;
	margin-top: 0em;
	opacity: 0.5;
	transition: opacity 0.3s ease-in;
	-webkit-transition: opacity 0.3s ease-in;
	-moz-transition: opacity 0.3s ease-in;
	-o-transition: opacity 0.3s ease-in;
}
.bio:hover {
	opacity: 0.8;
}
.name{
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5em;
}
.title{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
}
.bioText{
	font-family: 'Georgia', sans-serif;
	font-style: italic;
}
.navbar-default .navbar-nav>li>a.apply {
	transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
}
.navbar-default .navbar-nav>li>a.apply:hover {
	color: green;
}

/*
#experience {
	color: white;
	font-size: 3em;
	text-align: center;
	position: relative;
	top: 2em;
}

#network {
	color: white;
	font-size: 3em;
	text-align: center;
	position: relative;
	top: 2em;
}
*/

h2,h3 {
	color:white;
	text-align: center;
	font-size: 4em;
	position: relative;
	top: 1em;
}

h4 {
	color:white;
	text-align: center;
	font-size: 1.5em;
	position: relative;
	top: 170px;
}

p{
	color:white;
	position:relative;
	top: 170px;
	text-align: center;
	font-size: 1.5em;
}


nav.nabar {
	background: none;

}


.navbar-default, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: black;
	border-radius: 0px;
}
.navbar-default .navbar-nav>li>a{
	color: white;
	transition: color 0.1s ease-in-out;
	-webkit-transition: color 0.1s ease-in-out;
	-moz-transition: color 0.1s ease-in-out;
}


.navbar-default, ul.right-navbar, li.right-navbar{
	height: 6em;
}

li.right-navbar, li.left-navbar{
	font-family: 'Montserrat', sans-serif;
	padding-top: .5em;
	font-size: 1.4em;
	letter-spacing: .2em;
	margin-right: 0.8em;
}

a.navbar-brand{
	font-size: 1.4em;
}

.question {
	font-size: 8em;
	color: white;
	position: absolute;
	top: 0;
	z-index:22;
	left: 0;
	opacity: 0;
	transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
}
.question:hover {
	opacity: 1.0;
}
#logoimg {
	width: auto;
	height:8%;
}
.navbar-default, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background: none;
	z-index: 1;
}
#calvin {
	background: url('img/CalvinLing.jpg') no-repeat;
}
#quentin {
	background: url('img/QuentinPerrot.jpg') no-repeat;
}
#david {
	background: url('img/DavidJiang.jpg') no-repeat;
}
#chris {
	background: url('img/ChrisYuan.jpg') no-repeat;
}
#meagan {
	background: url('img/MeaganWu.jpg') no-repeat;
}
@media only screen and (max-width: 1036px) {
	.bio {
		width: 100%;
	}
	.bioWrapper p {
		text-align: center;
	}
	.bioWrapper {
		width: 16em;
		position: absolute;
		right: 4em;
	}
	body {
		background: black;
	}
}

@media only screen and (max-width: 660px) {
	.bioWrapper {
		width: 60%;
		position: inherit;
		right: inherit;
		margin-left: auto;
		margin-right: auto;
	}
	.bio {
		background-position: center !important;

	}

}

@media only screen and (max-width: 768px) {
   #mainTitle, #stanford, #experience, #network { 
   	font-size: 4.0em; 
   	margin-left: 6px;
   	top: 2em;
   }
   #stanford-subtitle, #experience-subtitle {
   	font-size: 1.5em;
   	margin-left: 6px;
   	top: 6em;
   }
   #stanford-paragraph, #experience-paragraph{
   	font-size: 1.2em;
   	margin-left: 6px;
   	top: 10em;
   }
   .navbar-default, ul.right-navbar, li.right-navbar {
   	height: initial;
   	background: rgba(255,255,255,1.0);
   }
   .navbar-default .navbar-nav>li>a {
   	color: black;
   }
	 ul>li>a.active {
		border-bottom: black 1px solid;
	}
   #splashButtons ul { 
   	font-size: 1.5em; 
   }
   #splashButtons ul li{ 
   	margin-bottom: 0.5em;
   	
   }
   #team-sub {
   	font-size: 1.3em;
   }

}
@media only screen and (max-width: 568px) {
	#mainTitle, #stanford, #experience, #network { 
	   	font-size: 2.3em; 
   }
   #tagline {
   	font-size: 1.2em;
   	position: absolute;
   	top: 20em;
   }
   #team-sub {
   	font-size: 0.7em;
   	top: 12em;
   }
   #mainTitle {
   	font-size: 2.5em;
   }
   #stanford-subtitle, #experience-subtitle {
   		top: 8em;
   		font-size: 1.0em;
   }
   #stanford-paragraph, #experience-paragraph{
   	font-size: 0.8em;
   }
   .bio .bioText {
   	font-size: 1.0em;
   }
   #date {
   	top: 28em;
   }
}
@media only screen and (max-width: 414px) {
	#date {
		top: 20em;
	}
	#splashMainText {
    	font-size: 1.0em;
    }
    #tagline {
	   	font-size: 0.8em;
	   	top: 32em;
	}
}
@media only screen and (max-width: 384px) {
	#date {
		top: 20em;
	}
	#splashMainText {
    	font-size: 0.8em;
    	top: 20em;
    }
    #tagline {
	   	font-size: 0.8em;
	   	top: 32em;
	}
	#team-sub {
   	    font-size: 0.6em;
   	    top: 16em;
    }
}
@media only screen and (max-width: 375px) {
	#date {
		top: 20em;
	}
	#mainText {
    	font-size: 1.2em;
    	top: 20em;
    }
    #team-sub {
   	    font-size: 0.6em;
   	    top: 16em;
    }
    #tagline {
	   	font-size: 0.8em;
	   	top: 30em;
	}
}
@media only screen and (max-width: 320px) {
	#tagline {
	   	font-size: 0.8em;
	   	top: 22em;
	}
    #team-sub {
   	    font-size: 0.4em;
   	    top: 23em;
    }
    #splashMainText {
    	font-size: 1.0em;
    	top: 9em;
    }
	#suni {
		top: 6em;
		font-size: 1.0em;
	}
	#pres {
		font-size: 0.8em;
		top: 10em;
	}
	#date {
		top: 20em;
		font-size: 1.2em;
	}
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}